
@{
    Layout = null;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


<script src="~/Content/aktarim.js"></script>

<!DOCTYPE html>

<html>
<body>
    <input type="file" id="FileUpload" />
    <input type="button" id="btnUpload" value="Upload Files" />
</body>
</html>

